.section {
  margin: 10px 0px 10px 0px;
  padding: 15px 10px;
  border: 1px solid $mediumBackground;
  background-color: $lightBackground;
}

.sidebox {
  background-color: $boxBackground;
}

.sideCommands {
  display: flex;
  flex-direction: column;
  min-width: 150px;
  margin: 20px;
}

.panelBox {
  background-color: $boxBackground;
  padding: 20px;
}

// .cmdPanel {
//   padding: 10px 10px;
//   color: $boxBackground;
//   background-color: $darkBackground;
// }

// .cmdPanelSmall {
//   padding: 5px;
//   margin: 10px 0px;
//   color: $boxBackground;
//   background-color: $darkBackground;
// }
