<mat-card>
  <ul>
    <li (click)="usingjQueryAjax()">Using jQuery Ajax</li>
    <li (click)="usingPromises()">Using ES6 Promise</li>
    <li (click)="chainingPromises()">Chaining Promise</li>
    <li (click)="usingFetch()">Using Fetch</li>
    <li (click)="usingFetchAwait()">Using Fetch Await</li>
    <li (click)="postFetch()">Post using Fetch</li>
    <li (click)="consumeService()">Consuming Servics</li>
    <li (click)="consumeGenericService()">Consuming Generic Service</li>
  </ul>
</mat-card>
