<mat-sidenav-container>
  <mat-sidenav
    #sidenav
    [opened]="showMenu"
    [mode]="this.device == 'xs' ? 'over' : 'side'"
  >
    <h4>{{ title }}</h4>
    <div>
      <a
        *ngFor="let item of demos"
        [routerLink]="['', item.url]"
        [queryParams]="{ title: item.title }"
        >{{ item.title }}</a
      >
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div fxFlex="8 8 auto" class="panelBox workbenchContainer">
      <h4>{{ demoName }}</h4>
      <div class="workbench"><router-outlet></router-outlet></div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
