<div role="form">
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter name" [(ngModel)]="person.name" [disabled]="!editMode">
  </div>
  <div class="form-group">
    <label for="age">Age</label>
    <input type="number" class="form-control" id="age" placeholder="Enter age" [(ngModel)]="person.age" [disabled]="!editMode">
  </div>
  <div class="form-group">
    <label>Gender</label>
    <br />
    <input type="radio" value="male" name="gender" [(ngModel)]="person.gender"> Male
    <input type="radio" value="female" name="gender" [(ngModel)]="person.gender"> Female
  </div>
  <div *ngIf="editMode">
    <a (click)="doSave()" class="btn btn-default">Save</a>
  </div>
</div>