<div class="cmdPanelSmall">
    <div class="row">
        <div class="col-md-8">
            <span>Selected Detail:</span>
        </div>
        <div class="col-md-4 rightCell">
            <span class="right">
                <a (click)="saveDetail()" class="btn btn-xs btn-default">Save Detail</a>
            </span>
        </div>
    </div>
</div>

<div>
    <div class="row spacedRow">
        <div class="col-md-1">
            <input type="text" [ngModel]="detail.ID" readonly class="form-control input-sm" />
        </div>

        <div class="col-md-5">
            <input type="text" [ngModel]="detail.Text" size="40" placeholder="Text:" class="form-control input-sm" />
        </div>

        <div class="col-md-2">
            <input type="number" [ngModel]="detail.Amount" size="15" class="form-control input-sm vdElement" />
        </div>

        <div class="col-md-4">
            <input [ngModel]="detail.AccountID" size="40" type="text" placeholder="Text:" class="form-control input-sm" />
            <!-- <select ng-model="VVM.EditDetail.Account.Name" id="ddAccount" class="form-control input-sm vdElement">
                     <option ng-repeat="acct in VVM.Accounts" value="{{acct.Name}}"> {{acct.Name}}</option>
            </select> -->
        </div>
    </div>

    <div class="row spacedRow">
        <div class="col-md-12">
            <textarea [ngModel]="detail.Comment" class="form-control vdElement" rows="4" placeholder="Comment"></textarea>
        </div>
    </div>
</div>