<div class="section">
  <h4>Uncomment Interceptor in app.module.ts</h4>
  <br />
</div>

<div class="section">
  <div class="row">
    <div class="col-xs-4">
      <h4>Voucher</h4>
      <br />
      <a (click)="insertVoucher()">Insert Voucher</a><br />
      <a (click)="getVouchers()">Get Vouchers</a><br />
      <a (click)="deleteVouchers()">Delete Vouchers</a><br />
    </div>
    <div class="col-xs-8" style="vertical-align: top">
      <h5>Result</h5>
      <br />
      {{ result | json }}
    </div>
  </div>
</div>
