.nav.navbar-nav {font-size: 15px;}

#searchForm {margin-right: 100px;}

@media (max-width: 1280px) {#searchForm {display:none}}

.navbar-default{background-color: red;}

.navbar-inverse .navbar-nav>li>a, .navbar-header .navbar-brand {
    color: white;
}

.navbar-inverse {

    border-color: #848080;
}

.navbar {
    border-radius: 0;
}

.nav-heading-text{
    line-height: 1.6;
    margin-left: 7px;
}

.navbar-brand{
    padding: 0 !important;
}

.active{
    color: red !important;
}

a{
    cursor: pointer;
}