@import "style-vars.scss";

.mainNav {
  background-color: $darkBackground;
  min-height: 5vh;
}

:host {
  margin-bottom: 1rem;
}

.navTitle {
  color: $contrast;
  font-size: 22px;
}

.navLink {
  font-size: 18px;
  color: whitesmoke;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.iconItem {
  // max-width: 45px;
  background-color: lawngreen;
}
