<div class="section">
  <h4>Checked Pipe</h4>
  <label>Is Checked:</label> <input type="checkbox" [(ngModel)]="isChecked" />
  <hr />
  <span>Is selected: </span><span [innerHTML]="isChecked | toChecked"></span>
</div>

<div class="section">
  <h4>Cust Currency Pipe</h4>
  <label>Price: {{ price | toEuro }} </label>
</div>

<div class="section">
  <h4>Table</h4>
  <label style="width: 5%;">Filter:</label>
  <input type="text" [(ngModel)]="currentFilter" style="width: 94%;" />
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Text</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let v of vouchers | VoucherFilter: currentFilter:'Text'"
        (click)="showVoucher(v.ID)"
      >
        <td>{{ v.ID }}</td>
        <td>{{ v.Text }}</td>
        <td><a [routerLink]="['/vouchers', v.ID]">Edit</a></td>
      </tr>
    </tbody>
  </table>
</div>
